<!DOCTYPE html>
<html>
    <head>
      <title>สำนักงานทะเบียนนักศึกษา มหาวิทยาลัยธรรมศาสตร์</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
            
          </script>
        
        <style>
        body{font-family: 'CordiaUPC' !important;}
        p{ 
	word-spacing:30px;}
        </style>

      </head>
    <body>
        <font size="5">

       <!-- HEARER -->
          <img src=images/header.png  width="100%" height="100%"> 
          
    <!-- MENU1 -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand" href="/mainpageStudent"><h3>HOME</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/profilestd">PROFILE <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> แจ้งลงทะเบียนล่าช้า</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/stuform"><h5>เขียนใบคำร้อง</h5></a>
                  <a class="dropdown-item" href="/status"><h5>ติดตามสถานะ</h5></a>
                </div>
              </li>
              </ul>
              <a style="color: aliceblue;"> WELCOME&nbsp;&nbsp;&nbsp;<%=displayname_en %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a class="btn btn-sm btn-outline-secondary" href="/logout"><font size="3">LOGOUT</font></a>
            </div>
          </div>
        </nav>

       <!-- MENU2 -->
       <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
          <br>
            <ul class="list-group">          
              <li class="list-group-item list-group-item-danger ">MENU </li>  
              <a href="/stuform" class="list-group-item list-group-item-action list-group-item-dark"> ใบคำร้องลงทะเบียนล่าช้า</a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-dark">อาจารย์ที่ปรึกษา</a>
            </ul>
            </div>
            
       <!-- RIGHT -->
            <div class="col-sm-10" >
            <br>
                <div class="alert alert-danger" role="alert">
                 <p> <center>
                    <img src="https://web.reg.tu.ac.th/registrar/getstudentimage.asp?id=<%=username%>&Status=10" width="15%" height="15%"><br><br></center>
                    <h2><b>ข้อมูลนักศึกษา</b></h2>
                    <b>ชื่อ-นามสกุล:</b> <%=displayname_th %> <br>
                    <b>FIRST NAME LAST NAME:</b> <%=displayname_en %><br>
                    <b>เลขทะเบียน:</b> <%=username %><br>
                    <b>คณะ:</b> <%=faculty %><br>
                    <b>สาขาวิชา:</b> <%=department %><br>

                    <br>
                    <h2><b>ช่องทางการติดต่อ:</b></h2>
                    <b>E-mail:</b> <%=email %>

                    <form>
                     <label for="subject"><b>เบอร์โทร:</b></label>
                     <div class="col-md-3 mb">
                    <input type="text" class="form-control" id="phonenum" name="phonenum" required></div>
                    <br>
                    <label for="reason"><b>ที่อยู่ที่ติดต่อได้:</b></label>
                    <div class="col-md-6 mb">
                      <textarea class="form-control" id="address" name="address" required></textarea><br>
                    <button  class="btn btn-success btn-lg" type="submit">save</button></div>
                    

                    </form>
                  </p>
           </div>
          </div>
        </div>
      </div>  

      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
        </script>

       <!-- FOOTER -->
       <hr class="featurette-divider">
  <footer class="container">
    <p class="float-right"><a href="/stuform">BACK TO TOP</a></p>
    <p>&copy; <a>GROUP7 CS264 THAMMASAT UNIVERSITY</a></p>
  </footer>
        </font>           
    </body>
</html>